<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407901249685-ojod6hiumb1p24b667q8672oqcdcibb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407901249685-ojod6hiumb1p24b667q8672oqcdcibb0</string>
	<key>API_KEY</key>
	<string>AIzaSyBpB8flHUAZl_AW5_yP9EnS9ucuXkwOCsI</string>
	<key>GCM_SENDER_ID</key>
	<string>407901249685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fcmPushNotification</string>
	<key>PROJECT_ID</key>
	<string>fcmpushnotification-3009c</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmpushnotification-3009c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407901249685:ios:df4bdae18cf6ed05c8fb9c</string>
</dict>
</plist>